body{
	background: #f9f9f9;
}
/* 头部样式 */
header{
	width: 100%;
	height: 100px;
}
#header{
	width: 80%;
	height: 100%;
	margin: auto;
}
#header #logo{
	height: 100px;
}
#header #headLine{
	display: inline-block;
	width: 2px;
	height: 60px;
	background: orange;
	margin-bottom: 20px ;
	margin-left: 20px;
}
#header #duolai{
	font: italic bold 20px/50px heiti,arail;
	width: 190px;
	position: absolute;
	color: red;
	top: 28px;
	margin-left: 20px;
}
@media screen and (max-width:580px ){
	#duolai{
		display: none;
	}
}
#header #regtel{
	float: right;
	margin-right: 40px;
	margin-top: 40px;
	font-size: 18px;
	line-height: 25px;
	color: grey;
}	
#regtel img{
	margin-right: 10px;
	width: 25px;
}
@media screen and (max-width:1020px ){
	#regtel{
		display: none;
	}
}

/* banner部分 */
#banner{
	width: 100%;
	height: 500px;
	background: #262626;
}
.banner{
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	background: url("http://www.5lux.com/vendor/images/5lux/login/new/login_background1.jpg") no-repeat;
	background-position: 0 -40px;
}

/* 注册部分 */
#loginForm{
	width: 400px;
	height: 450px;
	float: right;
	background: white;
	border-radius: 8px;
	box-shadow: 2px 4px 4px #aaaaaa;
	margin-right: 100px ;
	margin-top: 30px;
}
@media screen and (max-width: 1220px){
	#loginForm{
		display: none;
	}
}
#loginHead{
	font: bold 24px/80px heiti,arial;
	text-align: center;
	color: #333333;
}

#loginForm input{
	width: 55%;
	height: 40px;
	margin-left: 80px;
	margin-top: 40px;
	color: #666666;
	border: 2px solid #cccccc;
	font: 16px/50px arail;
	padding-left: 20px;
}

#loginForm input::-webkit-input-placeholder{
	color: #aaaaaa;
}

#login{
	border: none;
	width: 175px;
	height: 50px;
	background: #333333;
	color: white;
	font: 20px/50px arail;
	transition: all 1s ;
	margin-left: 100px;
	margin-top: 30px;
}
#tiaozhuan{
	font: bold 16px simsun,arail;
	color: skyBlue;
	float: right;
	margin-right: 20px;
}
#tiaozhuan:hover{
	color: red;
}
#login:hover{
	background: rgb(200, 0, 0);
}
#goIndex{
	display: block;
	width: 180px;
	font: bold 24px simsun,arail;
	color: #666666;
	margin-left: 80px;
	margin-top: 40px;
}
#goIndex span{
	font: bold 24px simsun,arail;
	color: orange;
	margin-left: 10px;
}
@keyframes move{
	0%{
		margin-left: 10px;
	}
	50%{
		margin-left: 40px;
	}
	100%{
		margin-left: 10px;
	}
}
#goIndex:hover span{
	animation: move 1s linear infinite;
}
