a:focus , a:hover{
	color: #23527c;
	text-decoration: underline;
}

section{
	margin: 50px 0 0 0;
}

/* 订单页上面部分 */
.shopHeader{
	padding: 20px 0 50px;
}

.shopHeader .col-md-4{
	padding: 0 20px;
}
.shopHeader .wrap-order{
	border: 1px solid #eeeeee;
	margin: 20px 0;
	padding: 10px;
	position: relative;
}
.shopHeader .num{
	float: left;
	font-size: 28px;
	margin: 8px 15px 0;
}
#shopHeader a:hover{
	text-decoration: none;
}
.shoppingCart:hover{
	text-decoration: none;
}

.shopHeader .wrap-order h3{
	font-size: 22px;
	margin: 0 0 5px;
	color: #888888;
	margin: 15px 0;
}

.shopHeader .wrap-order i{
	position: absolute;
	top: 15px;
	right: 20px;
	width: 40px;
	height: 40px;
	padding: 8px;
	color: #c4c4c4;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	border: 2px dashed #cccccc;
	border-radius: 50%;
}
.shopHeader .step{
	position: absolute;
	top: 15px;
	right: 0;
	width: 80px;
	height: 40px;
	padding: 8px;
}
.shopHeader .wrap-order.active{
	background-color: rgb(64,223,205);
	border-color: transparent;
}
.shopHeader .wrap-order.active h3{
	color: #ffffff;
}
.shopHeader .wrap-order.active .num{
	color: #ffffff;
}
.shopHeader .wrap-order.active i{
	color: #ffffff;
	border-color: #ffffff;
}
.shopHeader .btn:hover{
	background-color: goldenrod;
}

.myorder img{
	width: 80px;
}


.myorder .table > thead > tr > td{
	text-align: center;
	font-size: 16px;
	padding-top: 20px;
	white-space: nowrap;
}

